
	body {
		font-family: 'Lato';
	}

	h2 {
		text-decoration: underline;
		color: #e5ead8;
		text-align: center;
	}

	p {
		color: #eedd82;
	}

	table, th, td {
		border: 1px solid black;
	}

	.list {
		height: 20px;
		list-style: none;
	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 30%;
	}

	.middle {
		display: inline;
		width: 10%;
	}

	.text-center {
		text-align: center;
	}

	.navbar {
		list-style-type: none;
		margin: 0;	
		display: flex;	
		justify-content: center; 
	}

	.navbar2 {
		padding: 20px 20px;
		font-size: 20px;
	}

	.adjust {
		display: inline-flex;
		flex-direction: column;
	}

	.line {
		position: relative;
		bottom: 120px;
	}

	.color {
		color: #e5ead8;
	}

	.quote {
		display: inline;
 		width: 30%;
 		text-align: center;
	}